.layout-one {
    display: flex;
    width: 320px;
    height: auto;
    overflow-x: hidden;
    margin: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    display: flex;
    transition: transform 1s ease-in-out; /* Smooth transition for the sliding effect */
  }
  
  .image-container img {
    width: 320px; /* Each image takes up the full width of the container */
    height: 100%; /* Maintain aspect ratio */
  }
  
  /* CSS classes to handle the right-to-left sliding effect */
  .image-0 {
    transform: translateX(400px); /* First image visible */
  }
  
  .image-1 {
    transform: translateX(800px); /* Second image slides in from the right */
  }
  
  .image-2 {
    transform: translateX(1200px); /* Third image slides in from the right */
  }
  

  @media (max-width: 768px) {
    .layout-one {
        width: 200px;  // Slightly larger for tablet
        margin: 0.25rem;
    }

    
}
  @media (max-width: 500px) {
   .layout-one{
    width: 180px;
    margin: 2px;

   }
   }

   @media (max-width: 375px){
    .layout-one{
      width: 150px;
      margin: 2px;
  
     }
   }