.sticky-container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    width: 100vw;
  }
  
  .sticky-section {
    width: 40vw;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color:#e6d4c3;
    
    .content {
      
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 1rem;
  
      h1 {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #1f2937;
      }
  
      p {
       
        color: #4b5563;
        max-width: 80%;
        line-height: 1.6;
      }
    }
  }
  
  .scroll-section {
    width: 60vw;
    background-color:  #e6d4c3;
  
    .scroll-item {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
      
      &:nth-child(odd) {
        background-color: #e6d4c3;
      }
  
      &:nth-child(even) {
        background-color: #e6d4c3;
      }
  
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #1f2937;
      }
  
      p {
        font-size: 1.1rem;
        color: #4b5563;
        line-height: 1.6;
      }
    }
  }


  .scroll-item-two{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    >img{
      
  
      margin: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  
  .scroll-item-three{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    >img{
    
     
      margin: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .scroll-image{
    width: 400px;
 
    margin: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.image-container-love{
  display: flex;
  flex-direction: row;
}







@media (max-width: 1440px) {
 .scroll-item
 .scroll-item-two  
.scroll-item-three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sticky-section{
  width: 50%;
  height: auto;
  
}

.scroll-image{
  width: 300px;
}
}


@media (max-width: 1400px) {
  .scroll-item
  .scroll-item-two  
 .scroll-item-three{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .sticky-section{
   width: 50%;
 }
 
 .scroll-image{
   width: 300px;
 }
 }
  

 @media (max-width: 1360px) {
  .scroll-item
  .scroll-item-two  
 .scroll-item-three{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .sticky-section{
   width: 50%;
   
 }
 
 .scroll-image{
   width: 250px;
 }

 .sticky-container {
  display: flex;
  min-height: auto;
  width: 100vw;

}
 }

 @media (max-width: 1026px){
  .sticky-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    min-height: auto;
    width: 100vw;
  
  }

  .sticky-section{
    width: 100%;
    
  }
 }

 @media (max-width: 768px){
 .sticky-container{
  display: none;
 }
 }
 @media (max-width: 500px) {
  .sticky-container {
    display: none;
  
}}