
@font-face {
  font-family: 'cool';
  src: url('../../public/coolmain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

.scrollpower-main{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: auto;
  
}


.about-container-scrollpower {
    
    display: flex;
    align-items: center;
    justify-content: center ;

     width: 100vw;
     padding: 20px;
    overflow-x: hidden;
 

   
  
    .about-inner-scrollpower {
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
    
      gap: 0rem;
      margin-top: 00rem;
      justify-content: flex-start;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
      background-image: url("../../public/craftsmanshipi.jpg");
      background-size: cover;
      box-shadow: 0 0 15px rgba(8, 8, 8, 0.8);
  
     
      
      
    
      
      >img{
  
      }
    }
  
    .about-text-scrollpower {
      font-size: 2.25rem; // Equivalent to text-4xl
      font-weight: bold;
      color: #b9bfc9; // Blue color to match the background
      margin-left: 4rem;
    }
  }
    
  .layout-loa-scrollpower{
    margin-left: 3rem;
  }

  .craftsmanship{
    margin: 0 auto;
    margin-top: 20rem;
    font-size: 9rem;

  color: rgb(13, 13, 14);
    font-family: cool;
    font-weight: bold;

    
  }

  @media (max-width: 500px) {
    .about-container-scrollpower {
    
      display: flex;
      align-items: center;
      justify-content: center ;
       display: flex;

     
     
    
      .about-inner-scrollpower {
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0rem;
        margin-top: 2rem;
        justify-content: center;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
        background-image: url("../../public/craftsmanshipi.jpg");
        background-size: cover;
       
        
        
       
        
        >img{
          
        }
      }
    
      .about-text-scrollpower {
        font-size: 2.25rem; // Equivalent to text-4xl
        font-weight: bold;
        color: #b9bfc9; // Blue color to match the background
        margin-left: 4rem;
      }
    }
    
    .layout-loa-scrollpower{
      margin-left: 3rem;
    }


    .craftsmanship{
      margin: 0 auto;
      margin-top: 13rem;
      font-size: 2.5rem;

    color: rgb(13, 13, 14);
      font-family: cool;
      font-weight: bold;
      display: flex;
      
    }
}